## pandas

pandas数据结构  
* Series：类似于一维数组，由一组数据和一组索引构成  
* DataFrame

In [2]:
import pandas as pd
from pandas import Series, DataFrame

obj = Series([1, 2, 3, 4])
obj

0    1
1    2
2    3
3    4
dtype: int64

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
obj.values

array([1, 2, 3, 4], dtype=int64)

In [7]:
obj2 = Series(data=[4, 5, 6, 7], index=['a', 'b', 'c', 'd'])
obj2

a    4
b    5
c    6
d    7
dtype: int64

In [8]:
# 通过字典创建Series
data_dic = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = Series(data_dic)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [10]:
# 创建DataFrame -- 字典
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

df1 = DataFrame(data)
df1

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  2.9  Nevada  2002

In [14]:
# 指定字段顺序，index
df2 = DataFrame(data, index=['a', 'b', 'c', 'd', 'e', ], columns=['year', 'state', 'pop', 'debt'])
df2

   year   state  pop debt
a  2000    Ohio  1.5  NaN
b  2001    Ohio  1.7  NaN
c  2002    Ohio  3.6  NaN
d  2001  Nevada  2.4  NaN
e  2002  Nevada  2.9  NaN

In [20]:
# dataFrame的一个列的类型是Series
df2['state']

a      Ohio
b      Ohio
c      Ohio
d    Nevada
e    Nevada
Name: state, dtype: object

In [23]:
# 获取元组数据
df2.loc['a']

year     2000
state    Ohio
pop       1.5
debt      NaN
Name: a, dtype: object

重新索引

In [29]:
obj4 = Series([4,5,6,7], index=['d', 'b', 'a', 'c'])
obj4
obj5 = obj4.reindex(['a', 'b', 'c', 'd', 'e'])
obj5

a    6.0
b    5.0
c    7.0
d    4.0
e    NaN
dtype: float64