In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
df = DataFrame({
    'key1':['a', 'a', 'b', 'b', 'a'],
    'key2':['one', 'two', 'one', 'two', 'one'],
    'data1':np.random.randn(5),
    'data2':np.random.randn(5)
})
df

      data1     data2 key1 key2
0  0.252534  0.715417    a  one
1 -0.284712 -0.034011    a  two
2 -0.516844 -0.592641    b  one
3  0.435305  2.096103    b  two
4  1.210936  0.010924    a  one

In [12]:
# 按key1分组，并计算data1的平均值
df['data1'].groupby(df['key1']).mean()

key1
a    0.392919
b   -0.040770
Name: data1, dtype: float64