In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame({
    'key1':['a', 'a', 'b', 'b', 'a'],
    'key2':['one', 'two', 'one', 'two', 'one'],
    'data1':np.random.randn(5),
    'data2':np.random.randn(5)
})
df

      data1     data2 key1 key2
0 -0.121058 -0.169447    a  one
1  1.416718 -0.080428    a  two
2 -1.811657  0.820297    b  one
3  1.255605  2.007499    b  two
4 -0.225321 -1.092596    a  one

In [4]:
# 按key1分组，并计算data1的平均值
df['data1'].groupby(df['key1']).mean()

key1
a    0.356780
b   -0.278026
Name: data1, dtype: float64

In [8]:
# 传多个数组
mean = df['data1'].groupby([df['key1'], df['key2']]).mean()

In [9]:
# 拆分
mean.unstack()

key2       one       two
key1
a    -0.173189  1.416718
b    -1.811657  1.255605

In [12]:
# 在上面的例子中，分组键均为Series，其实分组键也可以是任何长度适当的数组
states = np.array(['Ohio', 'California', 'California', 'Phio', 'Ohio'])

In [11]:
years = np.array([2005, 2005, 2006, 2005, 2006])

In [15]:
df['data1'].groupby([states, years]).mean()

California  2005    1.416718
            2006   -1.811657
Ohio        2005   -0.121058
            2006   -0.225321
Phio        2005    1.255605
Name: data1, dtype: float64

In [17]:
# 也可以将列名（可以是字符串、数组或其他Python对象）用作分组键：
df.groupby('key1').mean()

         data1     data2
key1
a     0.356780 -0.447490
b    -0.278026  1.413898

In [18]:
df.groupby(['key1','key2']).mean()

              data1     data2
key1 key2
a    one  -0.173189 -0.631021
     two   1.416718 -0.080428
b    one  -1.811657  0.820297
     two   1.255605  2.007499

In [22]:
# 对分组进行迭代
for name, group in df.groupby('key1'):
    print (name)
    print (group)

a
      data1     data2 key1 key2
0 -0.121058 -0.169447    a  one
1  1.416718 -0.080428    a  two
4 -0.225321 -1.092596    a  one
b
      data1     data2 key1 key2
2 -1.811657  0.820297    b  one
3  1.255605  2.007499    b  two

In [24]:
# 对于多重键的情况，元组的第一个元素将会是由键值组成的元组：
for (k1, k2), group in df.groupby(['key1','key2']):
    print(k1,k2)
    print(group)

a one
      data1     data2 key1 key2
0 -0.121058 -0.169447    a  one
4 -0.225321 -1.092596    a  one
a two
      data1     data2 key1 key2
1  1.416718 -0.080428    a  two
b one
      data1     data2 key1 key2
2 -1.811657  0.820297    b  one
b two
      data1     data2 key1 key2
3  1.255605  2.007499    b  two